$box-padding: 30px;

$breakpoint-mobile-horizontal: 480px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-horizontal: 1024px;
$breakpoint-desktop: 1260px;
$breakpoint-desktop-wide: 1440px;

$color-black: #141414;
$color-light-gray: #7d7c83;
$color-white: #fff;

$container-max-width: 1440px;

$container-padding-mobile: 20px;
$container-padding-tablet: 40px;
$container-padding-desktop: 60px;

$content-max-width: 800px;

$font-size-xs: 13px;
$font-size-s: 14px;
$font-size-base: 16px;
$font-size-medium: 24px;
$font-size-large: 32px;
$font-size-xl: 42px;

$gutter-width: 25px;

$section-spacing: 50px;